<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="movie-app-page-header">
      <h1>
        Sales Information
      </h1>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <div class="sales-info-box">
          <h5 class="sales-type">Total Revenue</h5>
          <h2 class="sales-number"><%= number_to_currency(@movie_theater.revenue) %></h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sales-info-box">
          <h5 class="sales-type">Total Tickets Sold</h5>
          <h2 class="sales-number"><%= @movie_theater.tickets_sold.count %></h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sales-info-box">
          <h5 class="sales-type">Total Transactions</h5>
          <h2 class="sales-number"><%= @movie_theater.bookings.count %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2>
      Order Information
    </h2>
    <hr/>
    <div class="row">
      <%= paginate @bookings %>
      <div class="col-md-4">
        <%= form_tag(  {:controller => :movie_theaters,
          :action => :sales_dashboard},
          :method => :get,
          class: 'form', :remote => true) do %>

        <%= select_tag :movie_filter,
        content_tag(:option,'All Movies',:value=>nil) +
        options_from_collection_for_select(Movie.all,
        'id', 'name'), {:class => 'form-control'} %>
        <% end %>

      </div>
    </div>
    <div class="table-responsive">
      <br>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Count</th>
            <th>Movie</th>
            <th>Number of Tickets</th>
            <th>Total Purchase</th>
            <th>Buyer Email</th>
          </tr>
        </thead>

        <tbody>
          <% @bookings.each_with_index do |booking, n| %>

          <tr>
            <td><%= n + 1 %></td>
            <td><%= booking.movie.name %></td>
            <td><%= booking.tickets.count %></td>
            <td><%= number_to_currency(booking.total_cost) %></td>
            <td><%= booking.email %></td>
          </tr>

          <% end %>
        </tbody>
      </table>
      <%= paginate @bookings %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $('#movie_filter').change(function() {
      this.form.submit();
    });
  });
</script>
