<div class="ignore-container movie-theater-landing">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1><%= @movie_theater.name %></h1>
        <h4 class="contact-info">
          <%= @movie_theater.address_1 %>, <%= @movie_theater.address_2 %>,
          <%= @movie_theater.city %>, <%= @movie_theater.state %> <%= @movie_theater.zip %> |
          <%= @movie_theater.phone %>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <%= render 'date_selection', :@upcoming_dates => @upcoming_dates %>
    </div>
  </div>

  <div class="row">
    <%= render 'movies/current_playing_index', :@movies => @movies %>
  </div>
</div>
