<%= image_tag @showing.movie.image_url, height: 150 %>
<h4>
  <strong><%= @showing.movie.name %></strong>
</h4>
<h5><%= @showing.time_slot.strftime('%b %d at %I:%M %p') %></h5>
<h5><%= @showing.screening_room.movie_theater.name %></h5>
<h5>Theater #<%= @showing.screening_room.theater_number %></h5>
<h5><em><%= @showing.amount_of_seats_remaining %> seats remaining</em></h5>
