<div class="page-header">
  <%= link_to new_showing_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Showing
  <% end %>
  <h1>Listing showings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Time slot</th>
            <th>Seats available</th>
            <th>Screening room</th>
            <th>Movie</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @showings) do |showing| %>
            <td><%= showing.time_slot %></td>
            <td><%= showing.seats_available %></td>
            <td><%= showing.screening_room_id %></td>
            <td><%= showing.movie_id %></td>
            <td><%= link_to 'Show', showing %></td>
        <td><%= link_to 'Edit', edit_showing_path(showing) %></td>
        <td><%= link_to 'Destroy', showing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
