<tr>
  <td><%= booking.id %></td>
  <td><%= booking.movie.name %></td>
  <td><%= booking.tickets.count %></td>
  <td><%= number_to_currency(booking.total_cost) %></td>
  <td><%= booking.email %></td>
</tr>
