<div class="page-header">
  <%= link_to new_ticket_offering_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Ticket offering
  <% end %>
  <h1>Listing ticket_offerings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Movie theater</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @ticket_offerings) do |ticket_offering| %>
            <td><%= ticket_offering.name %></td>
            <td><%= ticket_offering.price %></td>
            <td><%= ticket_offering.movie_theater_id %></td>
            <td><%= link_to 'Show', ticket_offering %></td>
        <td><%= link_to 'Edit', edit_ticket_offering_path(ticket_offering) %></td>
        <td><%= link_to 'Destroy', ticket_offering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
